# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# FFmpeg binaries
ffmpeg-master-latest-win64-gpl/
ffmpeg.zip
**/ffmpeg.exe

# IDE
.idea/
.vscode/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
debug.log

# .workbuddy
.workbuddy/
